h1.name{
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

p.bio{
  text-align: center;
}

.container{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

hr{
  width: 100px;
  height: 2px;
  background-color: #2199e8;
  margin-bottom: 50px;
  margin-top: 10px;
}

img.logo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 4px rgba(0,0,0,7);
}

span.slogan{
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 35px;
}

.social-img ul{
  margin: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.social-img ul li{
  display: inline;
  background: rgba(204, 204, 204, 0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

.social-img ul li:hover{
  background: #ccc;
}

h5{
  text-align: center;
  font-size: 1.1rem;
  margin-top: 50px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.work{
  margin-bottom: 20px;
}

.home ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6386bf;
}

.home li {
  float: left;
  border-right:1px solid #bbb;
}

.home li:last-child {
  border-right: none;
}

.home li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home li a:hover:not(.active) {
  background-color: #e2c46b;
}

.home .active {
  background-color: #c45959;
}

.skill-container{
  border: solid lightcoral;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 16px;
}