h1.name{
  text-transform: uppercase;
  font-size: 1.45rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

p.bio{
  text-align: center;
}

.contain{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

hr{
  width: 100px;
  height: 2px;
  background-color: #b63f3f;
  margin-bottom: 50px;
  margin-top: 10px;
}

img.logo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 4px rgba(0,0,0,7);
}

span.slogan{
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 35px;
}

.so-img ul{
  margin: 0 auto;
  text-align:center;
  width: 100%;
  margin-bottom: 50px;
}

.so-img ul li{
  display: inline;
  background: rgba(204, 204, 204, 0.5);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

.so-img ul li:hover{
  background: #ccc;
}

h5{
  text-align: center;
  font-size: 1.1rem;
  margin-top: 50px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.work{
  margin-bottom: 20px;
}

.home ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home li:last-child {
  border-right: none;
}

.home li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home li a:hover:not(.active) {
  background-color: #000000;
}

.home .active {
  background-color: #b31312;
}

.home1 ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.home1 li:last-child {
  border-right: none;
}

.home1 li a {
  background-color: #b31312;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home1 li a:hover:not(.active) {
  background-color: #545454;
  color: white;
}

.home1 .actived {
  background-color: #000000;
  color: white;
}


.content {
  padding-left: 4%;
}

@media (max-width: 600px) {
  .containerFlex {
    flex-direction: column;
  }
}

.containerFlex {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

